body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icons img {
    height: 30px;
    margin-left: 20px;
}

.hero {
    background: url('bgimg.jpg') no-repeat center center/cover;
    padding: 60px 40px;
    text-align: center;
    color: #fff;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
    
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
}
li:hover {
    background-color: red;
}

.search-box input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background-color: #ff6f61;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.categories {
    background-color: #fff;
    padding: 10px 40px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categories ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.categories li {
    padding: 10px 20px;
    cursor: pointer;
}

section {
    padding: 20px 40px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.book-list {
    display: flex;
    justify-content: space-around;
}

.book {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.book img {
    height: 150px;
    margin-bottom: 10px;
}
